html {
  font-size: 16px;
}

body {
  text-align: center;
  padding: calc(1.25 * 1.25em);
  color: rgb(28, 28, 33);
}

.main_content {
  margin-left: auto;
  margin-right: auto;
  min-width: 15rem;
}

.heading {
  margin-bottom: calc(1.25 * 1.25em);
}

.heading h3 {
  font-weight: 700;
}

.form_control {
  max-width: 100%;
  line-height: 1.2;
  background-color: hsl(0, 0%, 100%);
  border: 2px solid hsl(0, 0%, 95%);
  padding: 0.5em;
  transition: 0.2s;
  margin-bottom: 10px;
  border-radius: 0.25em;
  width: 90%;
}

.form_control:focus {
  border-color: hsl(220, 90%, 56%);
  box-shadow: 0px 0px 0px 2px hsla(220, 90%, 56%, 0.2);
  outline: none;
}

.btn_primary {
  background-color: hsl(220, 90%, 56%);
  color: #fff;
  line-height: 1.2;
  transition: 0.2s;
  box-shadow: 0 0.1px 0.3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  padding: 0.5em;
  font-size: 1em;
  text-decoration: none;
  white-space: nowrap;
  border: 0;
  border-radius: 0.25em;
  width: 100%;
  margin-bottom: 1em;
}

.btn_primary:hover {
  background: hsl(220, 90%, 42%);
  cursor: pointer;
  box-shadow: 0 0.3px 0.4px rgba(0, 0, 0, 0.025), 0 0.9px 1.5px rgba(0, 0, 0, 0.05), 0 3.5px 6px rgba(0, 0, 0, 0.1);
}

.msg {
  border-radius: 0.25em;
  font-size: 0.833em;
  padding: 0.5em;
  border: 0;
  width: 100%;
  display: none;
}

.success_msg {
  background: hsla(94, 48%, 56%, 0.2);
  display: block;
}

.error_msg {
  background: hsla(0, 95%, 46%, 0.2);
  display: block;
}

.owner {
  margin-top: 4em;
  color: hsla(240, 48%, 1%, 1);
  font-size: 0.7em;
}

.template_path {
  display: flex;
  margin-bottom: 1em;
  align-items: center;
}

.template_path .label {
  flex-basis: 50%;
  text-align: left;
}

.toggle {
  display: none;
}
.toggle, .toggle:after, .toggle:before, .toggle *, .toggle *:after, .toggle *:before, .toggle + .toggle_btn {
  box-sizing: border-box;
}

.toggle::-moz-selection, .toggle:after::-moz-selection, .toggle:before::-moz-selection, .toggle *::-moz-selection, .toggle *:after::-moz-selection, .toggle *:before::-moz-selection, .toggle + .toggle_btn::-moz-selection {
  background: none;
}
.toggle::selection, .toggle:after::selection, .toggle:before::selection, .toggle *::selection, .toggle *:after::selection, .toggle *:before::selection, .toggle + .toggle_btn::selection {
  background: none;
}

.toggle + .toggle_btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.toggle + .toggle_btn:after, .toggle + .toggle_btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.toggle + .toggle_btn:after {
  left: 0;
}
.toggle + .toggle_btn:before {
  display: none;
}
.toggle:checked + .toggle_btn:after {
  left: 50%;
}

.toggle + .toggle_btn {
  background: #f0f0f0;
  border-radius: 2em;
  padding: 2px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.toggle + .toggle_btn:after {
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.toggle:checked + .toggle_btn {
  background: hsl(220, 90%, 56%);
}